<style type="text/css">
    h1  {
          color: red;
          text-align: center;
        }
    body{
          background-color: grey;
          color: blue;
        }
    a{
        color: white;
        font-size: 200%;
        text-decoration: none;
    }
    a:hover {
              color: green;
    }
</style>
